#devHelperPr.active {
    position: fixed;
    bottom: 8px;
    left: 8px;
    width: 320px;
    background-color: #333;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: 0.3s linear all;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
}
#devHelperPr.inactive {
    position: fixed;
    bottom: 8px;
    left: 8px;
    width: 320px;
    background-color: #333;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    background-color: darkgreen;
    transform: translateY(calc(100% + 8px));
    -webkit-transform: translateY(calc(100% + 8px));
    -moz-transform: translateY(calc(100% + 8px));
    -ms-transform: translateY(calc(100% + 8px));
    -o-transform: translateY(calc(100% + 8px));
    transition: .3s linear all;
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    -ms-transition: .3s linear all;
    -o-transition: .3s linear all;
}
#toggleCloseDH.active {
    position: absolute;
    right: 0;
    top: -30px;
    font-size: 11px !important;
    line-height: 1;
    padding: 8px 16px;
    background: linear-gradient(to bottom, #333, #000);
    border: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    color: white;
}

#toggleOpenDH.active {
    position: absolute;
    right: 0;
    top: -30px;
    font-size: 11px !important;
    line-height: 1;
    padding: 8px 16px;
    background: linear-gradient(to bottom, #333, #000);
    color: white;
    border: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
}

.devHelpWr {
    width: 100%;
    padding: 4px;
}
.devHelpWr.dhSingle {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #333, #000);
    box-shadow: 0 0 10px rgba(255,255,255,.5) inset;
}

.devHelpWr.dhSingle .devTriggerWr {
    flex: 1;
}
.shortCutWr {
    width: 40px;
    padding: 0 2px;
}
.shortCutWr a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    text-align: center;
    line-height: 1;
    margin: 0;
    padding: 4px 2px;
    background: linear-gradient(to bottom, #333, #000);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 3px rgba(255,255,255,.3) inset;
    margin-bottom: 6px;
}
.shortCutWr a i {
    margin-bottom: 4px;
}

.devTriggerWr {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.devTrigger {
    padding: 6px 4px;
    width: 100%;
    background: linear-gradient(to bottom, #333, #000);
    margin-bottom: 4px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.devShortcuts.active {
    padding: 0 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    margin-bottom: 4px;
}
.devShortcuts.inactive {
    height: 0px;
}
.devShortcuts ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    list-style: none;
}
.devShortcuts ul li {
    width: 100%;
    font-size: 13px;
    margin: 0 0 4px 0;
    background-color: black;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px dashed white;
}

.dhTwoCol {
    column-count: 2;
    display: unset !important;
}

ul.dhTwoCol li {
    font-size: 12px;
}

a.dhLogout {
    background-color: darkred;
    padding: 5px 16px;
    width: max-content;
}